<div class="row no-gutters p-2 bg-secondary">
  <div class="col-auto">
    <h4 class="text-light text-uppercase font-weight-bold mr-2">{{Title}}</h4>
  </div>
  <div class="col">
    <form #form="ngForm" (ngSubmit)="KeywoardsChange.emit(Keywoards);">
      <div class="form-row">

        <div class="input-group col" *ngIf="IsSearchAllowed">
          <input type="search" class="form-control" [disabled]="IsBusy" [placeholder]="SearchBoxPlaceholder"
            [(ngModel)]="Keywoards" name="Keywoards">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary" [disabled]="IsBusy">
              <i class="fas fa-search" *ngIf="!IsBusy"></i>
              <div class="spinner-border spinner-border-sm" role="status" *ngIf="IsBusy"></div>
              <span class="ml-2">Search</span>
            </button>
          </div>
        </div>

        <div class="col-auto">
          <button type="button" class="btn btn-success" [routerLink]="NewRecordRouterLink" *ngIf="NewRecordRouterLink">
            <i class="fas fa-plus"></i>
            <span class="ml-2">Create New</span>
          </button>
        </div>

      </div>
    </form>
  </div>
</div>
