<div class="row no-gutters p-2 bg-dark">
  <h4 class="col-4 text-light text-uppercase">
    <strong>{{Title}}</strong>
  </h4>
  <div class="col-8" *ngIf="IsSearchAllowed">
    <form #form="ngForm" (ngSubmit)="OnSearch.emit(Keywoards)">
      <div class="input-group">
        <input type="search" class="form-control" [disabled]="IsBusy" [placeholder]="SearchBoxPlaceholder"
          [(ngModel)]="Keywoards" name="Keywoards">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary" [disabled]="IsBusy">
            <i class="fas fa-search" *ngIf="!IsBusy"></i>
            <div class="spinner-border spinner-border-sm" role="status" *ngIf="IsBusy"></div>
            <span class="ml-2">Search</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
