<app-header [Title]="'Create New Category'">
</app-header>
<form class="p-2" #form="ngForm" (ngSubmit)="Save();">
  <div class="form-group">
    <label>Code</label>
    <input type="text" class="form-control" placeholder="Enter category code" [(ngModel)]="Category.Code"
      name="Code" required minlength="2" maxlength="24">
  </div>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Enter category name" [(ngModel)]="Category.Name"
      name="Name" required>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" placeholder="Enter category description" [(ngModel)]="Category.Description"
      name="Description">
  </div>
  <button type="submit" class="btn btn-success" [disabled]="IsBusy">
    <div class="spinner-border spinner-border-sm" role="status" *ngIf="IsBusy"></div>
    <i class="fas fa-plus" *ngIf="!IsBusy"></i>
    <span class="ml-2">Create Category</span>
  </button>
  <button type="button" class="btn btn-secondary ml-2" (click)="Clear();" [disabled]="IsBusy">
    <i class="fas fa-trash-alt"></i>
    <span class="ml-2">Clear</span>
  </button>

  <span class="text-danger ml-2" *ngIf="ValidationError">{{ValidationError}}</span>
</form>
