<div class="row p-2 bg-dark">
  <div class="col">
    <button type="button" class="btn btn-success">
      <i class="fas fa-user-plus"></i>
      <span class="ml-2">New User</span>
    </button>
  </div>
  <div class="col">
    <div class="input-group">
      <input type="search" class="form-control" placeholder="Which user are you looking for?">
      <div class="input-group-append">
        <button type="button" class="btn btn-primary">
          <i class="fas fa-search"></i>
          <span class="ml-2">Search</span></button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-accounts></app-accounts>
  </div>
</div>