<div class="row p-2 bg-dark">
  <div class="col">
    <div class="input-group">
      <input type="search" class="form-control" placeholder="Which user are you looking for?" [disabled]="IsBusy">
      <div class="input-group-append">
        <button type="button" class="btn btn-primary" (click)="Search();" [disabled]="IsBusy">
          <i class="fas fa-search" *ngIf="!IsBusy"></i>
          <div class="spinner-border spinner-border-sm" role="status" *ngIf="IsBusy"></div>
          <span class="ml-2">Search</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <app-accounts [Accounts]="Accounts"></app-accounts>
  </div>
</div>
