<div class="sidebar bg-dark" *ngIf="IsLoggedIn">
  <ng-container *ngFor="let sidebarItem of SidebarItems">
    <a class="row no-gutters py-1" routerLinkActive="active" [routerLink]="sidebarItem.RouterLink"
      [routerLinkActiveOptions]="{exact: true}" *ngIf="sidebarItem.Items.length === 0; else nested">
      <div class="col-auto">
        <i class="{{sidebarItem.Icon}}"></i>
      </div>
      <div class="col">
        <span class="ml-2">{{sidebarItem.Label}}</span>
      </div>
    </a>
    <ng-template #nested>
      <div class="row no-gutters py-1" (click)="sidebarItem.IsCollapsed = !sidebarItem.IsCollapsed;">
        <div class="col-auto">
          <i class="{{sidebarItem.Icon}}"></i>
        </div>
        <div class="col">
          <span class="ml-2">{{sidebarItem.Label}}</span>
        </div>
        <div class="col-auto">
          <i class="fas fa-chevron-right mr-1" *ngIf="sidebarItem.IsCollapsed"></i>
          <i class="fas fa-chevron-down mr-1" *ngIf="!sidebarItem.IsCollapsed"></i>
        </div>
      </div>
      <div class="row no-gutters bg-secondary" [ngbCollapse]="sidebarItem.IsCollapsed">
        <div class="col">
          <a class="row no-gutters py-1" [routerLink]="sidebarSubItem.RouterLink" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" *ngFor="let sidebarSubItem of sidebarItem.Items">
            <div class="col-auto">
              <i class="{{sidebarSubItem.Icon}}"></i>
            </div>
            <div class="col">
              <span class="ml-2">{{sidebarSubItem.Label}}</span>
            </div>
          </a>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <div class="row no-gutters py-1 border-top border-secondary position-absolute w-100" (click)="SignOut()" style="bottom: 0;">
    <div class="col-auto">
      <i class="fas fa-sign-out-alt"></i>
    </div>
    <div class="col">
      <span class="ml-2">Log Off</span>
    </div>
  </div>
</div>

<div class="content" [class.not-logged-in]="!IsLoggedIn">
  <router-outlet></router-outlet>
</div>

<ng-container *ngIf="MessageService.Message">
  <ngb-toast class="border rounded"
    [ngClass]="{ 'border-danger text-danger bg-danger-light' : MessageService.Type === MessageType.Error, 'border-success text-success bg-success-light': MessageService.Type === MessageType.Info, 'border-warning text-warning bg-warning-light': MessageService.Type === MessageType.Warning}"
    [autohide]="true" [delay]="5000" (hide)="MessageService.Hide()">
    <div class="row no-gutters">
      <div class="col-auto">
        <i class="fas"
          [ngClass]="{'fa-times' : MessageService.Type === MessageType.Error, 'fa-check': MessageService.Type === MessageType.Info, 'fa-exclamation': MessageService.Type === MessageType.Warning}">
        </i>
      </div>
      <div class="col">
        <span class="ml-2">{{MessageService.Message}}</span>
      </div>
    </div>
  </ngb-toast>
</ng-container>
