.sidebar {
    height: 100%;
    width: 180px;
    position: fixed;
    color: #6c757d;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  
  .sidebar div:hover {
    color: #f8f9fa;
    cursor: pointer;
  }

  .content {
    margin-left: 180px;
  }