<!-- <div class="sidebar bg-dark">
  <a routerLink="/Dashboard" routerLinkActive="active" class="row no-gutters">
    <div class="col mx-1 my-1">
      <i class="fas fa-chart-line"></i>
      <span class="ml-2">Dashboard</span>
    </div>
  </a>
  <div class="row no-gutters">
    <div class="col mx-1 my-1" (click)="IsCollapsed[0] = !IsCollapsed[0];">
      <i class="fas fa-users"></i>
      <span class="ml-2">User Accounts</span>
      <i class="fas fa-chevron-right float-right mt-1"></i>
    </div>
  </div>
  <div class="row no-gutters bg-secondary" [ngbCollapse]="IsCollapsed[0]">
    <div class="col">
      <a class="row no-gutters" routerLink="/UserAccounts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <div class="col py-1">
          <i class="fas fa-user-friends"></i>
          <span class="ml-2">Manage Users</span>
        </div>
      </a>
      <a class="row no-gutters" routerLink="/UserAccounts/New" routerLinkActive="active">
        <div class="col py-1">
          <i class="fas fa-user-plus"></i>
          <span class="ml-2">New User</span>
        </div>
      </a>
    </div>
  </div>
  <a class="row no-gutters">
    <div class="col mx-1 my-1">
      <i class="fas fa-archive"></i>
      <span class="ml-2">Articles</span>
    </div>
  </a>
  <a class="row no-gutters">
    <div class="col mx-1 my-1">
      <i class="fas fa-cubes"></i>
      <span class="ml-2">Stock</span>
    </div>
  </a>
  <a class="row no-gutters">
    <div class="col mx-1 my-1">
      <i class="fas fa-shopping-bag"></i>
      <span class="ml-2">Orders</span>
    </div>
  </a>
</div> -->
<div class="sidebar bg-dark" *ngIf="IsLoggedIn">
  <ng-container *ngFor="let sidebarItem of SidebarItems">
    <a class="row no-gutters" routerLinkActive="active" [routerLink]="sidebarItem.RouterLink"
      [routerLinkActiveOptions]="{exact: true}" *ngIf="sidebarItem.Items.length === 0; else nested">
      <div class="col mx-1 my-1">
        <i class="{{sidebarItem.Icon}}"></i>
        <span class="ml-2">{{sidebarItem.Label}}</span>
      </div>
    </a>
    <ng-template #nested>
      <div class="row no-gutters">
        <div class="col mx-1 my-1" (click)="sidebarItem.IsCollapsed = !sidebarItem.IsCollapsed;">
          <i class="{{sidebarItem.Icon}}"></i>
          <span class="ml-2">{{sidebarItem.Label}}</span>
          <i class="fas fa-chevron-right float-right mt-1" *ngIf="sidebarItem.IsCollapsed"></i>
          <i class="fas fa-chevron-down float-right mt-1" *ngIf="!sidebarItem.IsCollapsed"></i>
        </div>
      </div>
      <div class="row no-gutters bg-secondary" [ngbCollapse]="sidebarItem.IsCollapsed">
        <div class="col">
          <a class="row no-gutters" [routerLink]="sidebarSubItem.RouterLink" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" *ngFor="let sidebarSubItem of sidebarItem.Items">
            <div class="col py-1">
              <i class="{{sidebarSubItem.Icon}}"></i>
              <span class="ml-2">{{sidebarSubItem.Label}}</span>
            </div>
          </a>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>

<div class="content" [class.not-logged-in]="!IsLoggedIn">
  <router-outlet></router-outlet>
</div>
