<div class="sidebar bg-dark" *ngIf="IsLoggedIn">
  <ng-container *ngFor="let sidebarItem of SidebarItems">
    <a class="row no-gutters" routerLinkActive="active" [routerLink]="sidebarItem.RouterLink"
      [routerLinkActiveOptions]="{exact: true}" *ngIf="sidebarItem.Items.length === 0; else nested">
      <div class="col mx-1 my-1">
        <i class="{{sidebarItem.Icon}}"></i>
        <span class="ml-2">{{sidebarItem.Label}}</span>
      </div>
    </a>
    <ng-template #nested>
      <div class="row no-gutters">
        <div class="col mx-1 my-1" (click)="sidebarItem.IsCollapsed = !sidebarItem.IsCollapsed;">
          <i class="{{sidebarItem.Icon}}"></i>
          <span class="ml-2">{{sidebarItem.Label}}</span>
          <i class="fas fa-chevron-right float-right mt-1 mr-1" *ngIf="sidebarItem.IsCollapsed"></i>
          <i class="fas fa-chevron-down float-right mt-1 mr-1" *ngIf="!sidebarItem.IsCollapsed"></i>
        </div>
      </div>
      <div class="row no-gutters bg-secondary" [ngbCollapse]="sidebarItem.IsCollapsed">
        <div class="col">
          <a class="row no-gutters" [routerLink]="sidebarSubItem.RouterLink" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" *ngFor="let sidebarSubItem of sidebarItem.Items">
            <div class="col py-1">
              <i class="{{sidebarSubItem.Icon}}"></i>
              <span class="ml-2">{{sidebarSubItem.Label}}</span>
            </div>
          </a>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>

<div class="content" [class.not-logged-in]="!IsLoggedIn">
  <router-outlet></router-outlet>
</div>

<ng-container *ngIf="MessageService.Message">
  <ngb-toast class="border rounded bg-light "
    [ngClass]="{ 'border-danger text-danger' : MessageService.Type === MessageType.Error, 'border-success text-success': MessageService.Type === MessageType.Info, 'border-warning text-warning': MessageService.Type === MessageType.Warning}"
    [autohide]="true" [delay]="5000" (hide)="MessageService.Hide()">
    <div class="row no-gutters">
      <div class="col-auto">
        <h4 class="fas fa-exclamation-circle"></h4>
      </div>
      <div class="col">
        <span class="ml-2 align-middle">{{MessageService.Message}}</span>
      </div>
    </div>
  </ngb-toast>
</ng-container>
