.sidebar {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }

  .sidebar a, .sidebar > div {
    text-decoration: none;
    color: #f8f9fa;
  }
  
  .sidebar a:hover {
    color: #17a2b8;
    cursor: pointer;
  }

  .content {
    margin-left: 190px;
    overflow-x: hidden;
  }