.sidebar {
    height: 100%;
    width: 190px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #e9ecef;
  }

  .sidebar a {
    text-decoration: none;
    color: #343a30;
  }
  
  .sidebar a:hover {
    color: #17a2b8;
    cursor: pointer;
  }

  .content {
    margin-left: 190px;
    overflow-x: hidden;
  }