<div class="row p-2 bg-dark">
  <h4 class="col-4 text-light text-uppercase">
    <strong>Manage User Accounts</strong>
  </h4>
  <div class="col-8">
    <div class="input-group">
      <input type="search" class="form-control" placeholder="Which user are you looking for?" [disabled]="IsBusy">
      <div class="input-group-append">
        <button type="button" class="btn btn-primary" (click)="Search();" [disabled]="IsBusy">
          <i class="fas fa-search" *ngIf="!IsBusy"></i>
          <div class="spinner-border spinner-border-sm" role="status" *ngIf="IsBusy"></div>
          <span class="ml-2">Search</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table table-sm table-hover">
      <thead class="thead-light">
        <th scope="col">
          <i class="fas fa-phone-alt"></i>
          <span class="ml-2">Phone Number</span>
        </th>
        <th scope="col">
          <i class="fas fa-user-tag"></i>
          <span class="ml-2">Name</span></th>
        <th scope="col">
          <i class="fas fa-map-marker-alt"></i>
          <span class="ml-2">Address</span>
        </th>
        <th scope="col">&nbsp;</th>
      </thead>
      <tbody>
        <tr *ngFor="let account of Accounts; let i = index;">
          <td>{{account.PhoneNumber}}</td>
          <td>
            <span class=ml-2>{{account.FirstName}} {{account.LastName}}</span>
          </td>
          <td>{{account.AddressLine1}}{{account.AddressLine2 ? ', ' : ''}}{{account.AddressLine2}}, {{account.City}}
          </td>
          <td>
            <button type="button" class="btn btn-sm btn-outline-success mr-1 border-0">
              <i class="fas fa-user-edit"></i>
            </button>
            <button type="button" class="btn btn-sm btn-outline-danger mr-3 border-0">
              <i class="fas fa-user-times"></i>
            </button>
            <button type="button" class="btn btn-sm btn-warning mr-1 border-0">
              <i class="fas fa-key"></i>
              <span class="ml-2">Reset Password</span>
            </button>
            <button type="button" class="btn btn-sm btn-info mr-1 border-0" *ngIf="!account.IsActive">
              <i class="fas fa-unlock-alt"></i>
              <span class="ml-2">Activate</span>
            </button>
            <button type="button" class="btn btn-sm btn-secondary mr-1 border-0" *ngIf="account.IsActive">
              <i class="fas fa-lock"></i>
              <span class="ml-2">Deactivate</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
