/*Background colors*/
.bg-primary-light {
  background: #3490df;
}

.bg-success-light {
  background: #ccffcc;
}

.bg-info-light {
  background: #6bc6e1;
}

.bg-warning-light {
  background: #fff5e6;
}

.bg-danger-light {
  background: #ffcccc;
}

/*Text colors*/
.text-primary-light {
  background: #3490df;
}

.text-success-light {
  background: #6cbf6c;
}

.text-info-light {
  background: #6bc6e1;
}

.text-warning-light {
  background: #f1b55f;
}

.text-danger-light {
  background: #dc6460;
}