<div class="row p-2 bg-dark">
  <h4 class="col text-light text-uppercase">
    <strong>Create New User Account</strong>
  </h4>
</div>
<form class="p-2">
  <div class="form-group">
    <label>Phone Number</label>
    <input type="text" class="form-control" placeholder="Enter mobile phone number">
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label>First Name</label>
      <input type="text" class="form-control" placeholder="Enter first name">
    </div>
    <div class="form-group col">
      <label>Last Name</label>
      <input type="text" class="form-control" placeholder="Enter last name">
    </div>
  </div>
  <div class="form-group">
    <label>Address Line 1</label>
    <input type="text" class="form-control" placeholder="Enter address line 1">
  </div>
  <div class="form-group">
    <label>Address Line 2</label>
    <input type="text" class="form-control" placeholder="Enter address line 2">
  </div>
  <div class="form-group">
    <label>City</label>
    <input type="text" class="form-control" placeholder="Select city">
  </div>
  <div class="form-group">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" placeholder="Select city">
      <label class="form-check-label">Is having administrative privilages?</label>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" placeholder="Select city">
      <label class="form-check-label">Is user account active?</label>
    </div>
  </div>
  <button type="submit" class="btn btn-success">
    <i class="fas fa-user-plus"></i>
    <span class="ml-2">Create User</span>
  </button>
</form>
